<label for="duration">Choose interest duration: </label>
<select id="duration" (change)="changePeriod($event)">​
    <option value="1_jaar">1 year</option>​
    <option value="10_jaar">10 years</option>​
    <option value="20_jaar">20 years</option>​
    <option value="30_jaar">30 years</option>​
</select>
<span> --- </span>
<input type="text" (input)="onSearchChange($event)" [value]="searchValue" placeholder="Search provider...">
<app-loading-spinner *ngIf="loading">fetching data... hang on!</app-loading-spinner>
<table *ngIf="!loading">
	<tr>
		<th>Geldverstrekker</th>
		<th>NHG</th>
		<th>60% LTV</th>
		<th>80% LTV</th>
		<th>100% LTV</th>
	</tr>
	<tr *ngFor="let rate of interestRateList">
		<td>{{ rate.Hypotheek }}</td>
		<td>{{ rate.NHG }}</td>
		<td>{{ rate['60%'] }}</td>
		<td>{{ rate['80%'] }}</td>
		<td>{{ rate['100%'] }}</td>
	</tr>
</table>